<section class="header">
  <div class="header_row d-flex justify-content-between ">
    <div class="header_title p-2">
      <h1>WhomsApp Messenger</h1>
    </div>
    <div class="header_button p-2 align-self-center">
      <%= link_to image_tag(asset_path('new_conversation_button.png'), width: 35), new_conversation_path %>
    </div>
  </div>
</section>

<section class="conversations">
  <%= render @conversations %>
</section>
